# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Pebble watchface SDK files
build/
include
lib
tools
pebble_app.ld
waf
wscript

# Other
*.xcf